
          <!--<div class="content table-responsive table-full-width">
            <table class="table table-striped">
              <thead>
              <tr>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let lista of list">
                <div *ngIf='lista.codigo==006'>
                <td>{{lista.nome}}{{contador+1}}</td>
                  </div>
              <tr *ngFor="let lista of list; let i = index">
                <div>
                <td>{{i}}</td>
              </div>

              </tr>
              </tbody>
            </table>

          </div>-->

            {{listp?.nome}}

